* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

header.cabecalho {
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  background-color: #111111;
  border-bottom: 3px solid #ee1c24;
  box-shadow: 0 5px 10px 0 #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header.cabecalho div.conteudo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 100%;
}
header.cabecalho div.conteudo a.logo-link {
  text-decoration: none;
}
header.cabecalho div.conteudo a.logo-link h1.titulo {
  text-transform: none;
  text-shadow: none;
}
header.cabecalho div.conteudo a.logo-link h1.titulo strong {
  color: #5e5e5e;
}
header.cabecalho div.conteudo img.iconeUsuario {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}
header.cabecalho div.conteudo img.iconeUsuario:hover {
  filter: invert(0.125);
}
header.cabecalho div.conteudo nav.navegacao {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 66px;
  box-shadow: 5px 0 10px 0 #000000;
  background-color: #111111;
  padding: 0 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
header.cabecalho div.conteudo nav.navegacao a.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: 100px;
  height: auto;
}
header.cabecalho div.conteudo nav.navegacao a.link p {
  font-size: 0.75rem;
  transition: 0.33s;
}
header.cabecalho div.conteudo nav.navegacao a.link:hover img {
  filter: invert(0.125);
}
header.cabecalho div.conteudo nav.navegacao a.link:hover p {
  color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.banner {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
section.banner div.conteudo {
  position: relative;
  padding: 0;
}
section.banner div.conteudo img.imgBanner {
  display: none;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
section.banner div.conteudo img.imgBanner.bannerMobile {
  display: block;
}
section.banner div.conteudo article.descricao {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-left: 1px solid #eeeeee;
  padding: 0 0 0 1rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
section.banner div.conteudo article.descricao h2.titulo {
  color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.novidades div.conteudo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
section.novidades div.conteudo article.descricao {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.novidades div.conteudo article.descricao p.legenda {
  box-sizing: border-box;
  box-shadow: inset 0 0 20px 0 #ee1c24;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #eeeeee;
  font-weight: 700;
  text-align: center;
}
section.novidades div.conteudo article.descricao p.legenda strong {
  color: #ee1c24;
}
section.novidades div.conteudo article.descricao p.texto {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
section.novidades div.conteudo img.imagemNovidades {
  box-sizing: border-box;
  margin: 0 2rem;
  border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.sinopse {
  border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
section.sinopse div.conteudo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
section.sinopse div.conteudo p.descricao {
  text-align: left;
  line-height: 1.5rem;
  color: #aaaaaa;
}
section.sinopse div.conteudo a.btnCta {
  margin-top: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.temporadas div.conteudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.temporadas div.conteudo article.caixa-topo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #ee1c24;
  padding: 0.5rem 0;
}
section.temporadas div.conteudo article.caixa-topo h2.titulo {
  letter-spacing: -2px;
  font-size: 1.75rem;
  text-shadow: none;
  color: #111111;
}
section.temporadas div.conteudo article.caixa-topo p.legenda {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  color: #eeeeee;
}
section.temporadas div.conteudo div.containerCarrosel {
  box-sizing: border-box;
  padding: 0 1rem;
}
section.temporadas div.conteudo div.containerCarrosel ul.carrosel {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  height: auto;
  padding: 0 0 0.5rem 0;
  overflow-x: auto;
}
section.temporadas div.conteudo div.containerCarrosel ul.carrosel::-webkit-scrollbar {
  height: 8px;
  background-color: #373737;
  border-radius: 2rem 0 2rem 0;
}
section.temporadas div.conteudo div.containerCarrosel ul.carrosel::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 2rem 0 2rem 0;
}
section.temporadas div.conteudo div.containerCarrosel ul.carrosel li.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  list-style-type: none;
}
section.temporadas div.conteudo div.containerCarrosel ul.carrosel li.item a.link {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: 0.33s;
  border-radius: 0.5rem;
}
section.temporadas div.conteudo div.containerCarrosel ul.carrosel li.item a.link img.capaTemporada {
  width: 150px;
  height: auto;
  border-radius: 0.5rem;
}
section.temporadas div.conteudo div.containerCarrosel ul.carrosel li.item h4.legenda {
  font-size: 0.75rem;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.sobreNos {
  padding: 2rem 1rem;
}
section.sobreNos div.conteudo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px 0 #000000;
  background-color: #373737;
  border-radius: 0.5rem;
}
section.sobreNos div.conteudo p.descricao {
  color: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.cadastro {
  border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
section.cadastro div.conteudo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
section.cadastro div.conteudo h2.titulo {
  color: #ee1c24;
}
section.cadastro div.conteudo form.formulario {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 40px;
  border: 1px solid #919191;
  border-radius: 2rem;
  padding: 0.125rem 0.15rem;
}
section.cadastro div.conteudo form.formulario input#inputEmail {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  outline: none;
  font: 400 1rem "Inter";
  color: #eeeeee;
  background-color: transparent;
  border-radius: 2rem;
  border: none;
}
section.cadastro div.conteudo form.formulario input#inputEmail::-moz-placeholder {
  font-size: 0.875rem;
}
section.cadastro div.conteudo form.formulario input#inputEmail::placeholder {
  font-size: 0.875rem;
}
section.cadastro div.conteudo form.formulario input#inputEmail::marker {
  background-color: transparent;
}
section.cadastro div.conteudo form.formulario button.btnForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #ee1c24;
  border: none;
  border-radius: 2rem;
  min-width: 50px;
  min-height: 33px;
  position: relative;
  cursor: pointer;
  transition: 0.33s;
}
section.cadastro div.conteudo form.formulario button.btnForm:hover {
  background-color: #c80f16;
}
section.cadastro div.conteudo form.formulario button.btnForm img.iconeEnviar {
  width: 1.125rem;
  height: 1.125rem;
  filter: invert(1);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(95%, 42%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: auto;
  height: 100%;
  background-color: #2b2b2b;
  box-shadow: inset 0px 0px 300px 0px #000000;
  padding: 66px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 965px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1880px) {
  .container {
    width: 1440px;
  }
}

.gapSection {
  box-sizing: border-box;
  padding: 2rem 0;
}

.containerEscurecido {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: ease-in-out 0.33s;
  background-color: rgba(0, 0, 0, 0.5019607843);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
.containerEscurecido.visivel {
  opacity: 1;
  z-index: 99;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.caixaTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.btnCta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 2rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #ee1c24;
  border-radius: 2rem;
  font: 400 0.875rem "Inter";
  text-decoration: none;
  color: #ee1c24;
  transition: 0.33s;
}
.btnCta:hover {
  box-shadow: 0 0 15px 0 #000000;
  background-color: #ee1c24;
  color: #eeeeee;
}

.ftTitulo {
  font-weight: 700;
  font-family: "Saira", serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #000000;
  color: #ee1c24;
}

.ftTexto {
  font-weight: 400;
  font-family: "Inter";
  line-height: 1.25rem;
  color: #919191;
}

.link {
  font: 400 0.875rem "Inter";
  text-decoration: none;
}

.linhaDivisoria {
  width: 125px;
  height: 2px;
  background-color: #ee1c24;
  border: none;
  margin: -0.5rem 0 0 0;
}

.icone {
  width: 1.75rem;
  height: 1.75rem;
  filter: invert(0.5);
  transition: 0.33s;
  cursor: pointer;
}

.iconeSessao {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: contain;
     object-fit: contain;
}

footer.rodape {
  padding: 0;
}
footer.rodape div.conteudo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 2rem 0;
}
footer.rodape div.conteudo p.texto a.linkRodape {
  text-decoration: none;
  color: #c4c4c4;
}
footer.rodape div.conteudo p.texto a.linkRodape:hover {
  text-decoration: underline;
}/*# sourceMappingURL=estruturas.css.map */