@import '../../ferramentas/ferramentas.scss';

section.trailer {
    @include size(100%, 100vh);
    position: relative;
    overflow-x: hidden;
    &::after {
        content: "";
        @include size(100%, 100%);
        display: block;
        box-shadow: inset 0 0 500px 0 $pretoMax;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    div.fundoTrailer {
        width: 100%;
        height: 100%;
        transition: 1s;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        opacity: 0.375 !important;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    div.conteudo {
        @include flexAlignContent(column, null, null, 3rem);
        height: 100%;
        position: relative;

        img.iconeSessaoG {
            display: none;
            transition: 1s;
            opacity: .05;

            @include LAPTOP {
                display: block;
                left: -10rem;
            }
        }
        
        article {
            @include flexColumn(2rem);
            transition: 1s;
            z-index: 2;

            @include LAPTOP {
                @include flexAlignContent(row, center, center, 2rem);
                width: 66%;
                margin: 0 0 0 auto;
            }

            img.capaTemporada {
                max-width: 50%;
                height: auto;
                margin: 0 auto;
                
                object-fit: contain;
                border-radius: .25rem;
                box-shadow: 0 0 20px 0 $pretoMax;
                
                @include LAPTOP {
                    width: auto;
                    max-height: 100%;
                    margin: 0;
                }
            }

            div {
                @include flexColumn(.5rem);
                text-align: center;
                width: 100%;
                margin: 0 auto;

                @include LAPTOP {
                    gap: 1rem;
                    text-align: left;
                    width: 100%;
                    margin: 0;
                }
                
                h2.titulo {
                    color: $branco;
                    @include separador(2px, .5rem auto 0 auto, $branco);
                    
                    @include LAPTOP {
                        @include separador(2px, 1rem 0 0 0, $branco);
                    }
                }

                // span.legenda {}

                p.descricao {
                    margin: .5rem 0;
                    
                    @include LAPTOP {
                        margin: 1rem 0;
                    }
                }

                button.btnCta {
                    margin: 0 auto;

                    @include LAPTOP	{
                        margin: 0;
                    }
                }
            }
        }
    }
}
